.homePageMainDiv{
    background-color: #434755;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .homePageInner{
        text-align: center;
        padding: 5rem;
        display: inline-block;
        margin: auto;
        background-color: #6b6dc9;
        border-radius: 10px;
        @media screen and (max-width: 443px){
            padding: 5rem 2rem;
        }
        input{
        }
    }
}